<div class="grid-container">
  <mat-toolbar>
    <h1 class="pageTitle">Dashboard</h1>
    <div class="searchSelect">
      <label for="category">Choose a Category:</label>
      <select name="category" id="category">
        <option value='smileys and people'>'smileys and people'</option>
        <option value='animals and nature'>'animals and nature'</option>
        <option value='food and drink'>'food and drink'</option>
        <option value='travel and places'>'travel and places'</option>
        <option value='activities'>'activities'</option>
        <option value='objects'>'objects'</option>
        <option value='symbols'>'symbols'</option>
        <option value='flags'>'flags'</option>
      </select>
    </div>
  </mat-toolbar>
  <h3>Current Layout: {{ (emojiLayout | async)?.name }}</h3>
  <mat-grid-list [cols]="(emojiLayout | async)?.gridColumns" rowHeight="350px">
    <mat-grid-tile *ngFor="let emoji of (emojiLayout | async)?.layoutItem" [colspan]="(emojiLayout | async)?.cols" [rowspan]="(emojiLayout | async)?.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="name">{{emoji.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <p>Category : {{emoji.category}}</p>
            <p>Group : {{emoji.group}}</p>
            <p>HtmlCode : {{emoji.htmlCode.toString()}}</p>
            <p>UniCode : {{emoji.unicode.toString()}}</p>
          </div>
          <div *ngFor="let htmlcode of emoji.htmlCode">
            <div class="emoji" [innerHtml]="htmlcode"></div>
          </div>
          <!-- <div class="emoji" [innerHtml]="emoji.htmlCode.toString()"></div> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>